/*flexbox encabezado*/
.header {       
  width: 100%;
  display: flex;            /*alineación a la izquierda*/
  justify-content: left; 
  align-items: center;
}
.header-font{
  font-size: 1.15rem;/*x-large;*/
  line-height: 60%;
}
.header section {     /*Separa las dos secciones en columnas: foto y nombre en una y lista en otra*/
  flex: 50%;
  margin: 2%;
  justify-content: center;
  /*background-color: palevioletred;*/
  display: flex;
  align-items: center;
}

/*items nombre-foto del contenedor header section */
.only-photo {     
  display: inline-block;
  /*background-color: peru;*/
  margin: 2%;
  flex-basis: auto;
  width: 30%;
}
.only-name {     
  display: inline-block;
  /*background-color: peru;*/
  margin: 2%;
  flex: 1;
  /*font-family: 'Source Serif Pro', cursive; */
  font-family: 'Libre Baskerville', serif;
}
/*foto*/
.only-photo img {
  width: 100%;
  /*background-color: pink;*/
}
/*contenido*/
.header-content {
  width: 60%;
  margin: 20px;
  display: inline-block;
}
/*lista datos contacto*/
.ul-datosContacto{        /*quitar bullets de toda la lista*/
  list-style-type: none;
}
.ul-datosContacto li{           /*especificaciones para todos items*/
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 10%;
  margin: 5px;
}
.ul-datosContacto .date{              /*especificar imagen para cada item*/
  background-image: url('./date.png');
}
.ul-datosContacto .location{              
  background-image: url('./location.png');
}
.ul-datosContacto .phone{              
  background-image: url('./phone.png');
}
.ul-datosContacto .mail{              
  background-image: url('./mail.png');
}
.ul-datosContacto .network{              
  background-image: url('./network.png');
}
/*lista software*/
.ul-software{
  /*list-style-type: none;*/
  padding: 0;
  /*margin: 0;*/
}

/*flexbox columnas*/
.columnas-contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items:stretch;       /*ver si cambiar a center al hacer flexbox en columna*/
    flex-wrap: nowrap;            /*align-items start hace que no se estiren los items en cross axis*/
    
}
.columnas-item{                 /*Cada item es un nuevo contenedor flex*/
  flex: 50%;
  margin: 2%;
  display: inline flex;     /*inline permite que los dos items columna no tengan que tener mismo tamaño*/
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;  
}


/*secciones*/
section {
  margin: 10px;
}
.section-header {
  cursor: pointer;
}
.objectives,
.experience,
.studies,
.skills,
.software,
.languajes {
  display: none;
}
.active {
  display: block;
  background-color: azure;
  padding: 10px;
}


body{                     /*todo el documento*/
  font-family: 'Open Sans', sans-serif;
}
body h2{                  /*títulos de sección*/
  font-family: 'Bebas Neue', cursive;
  /*font-size: 1.2rem;*/
}


/*flexbox footer*/
footer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

footer div{
  width: 25%;
  height: auto;
  text-align: center;
}

footer img{
  width: 100%;
}


/*botones*/
button {
  transition-duration: 0.2s;
  padding: 6px 10px;
  background-color:grey;
  opacity: 0.8;
  color: black;
}
button:hover {
  background-color:mintcream;
  padding: 14px;
  opacity: 1;
}
